*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container{
 border: 1px solid black;
  height: 400px;
}

h1, h2{
  text-align: center;
}

.contenitore1{
  height: 200px;
  background-color: lightblue;
}

.contenitore2{
  height: 200px;
  background-color: lightyellow;
}
